.sidebar_container {
    width: 95px;
    height: 100vh;
    flex-shrink: 0;
    position: fixed;
    z-index: 1;
    left: 0;
}

.profile {
    background-color: #6EEB83;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar {
    border: 1px solid #6EEB83;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background: #272727;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 100vh;
    line-height: normal;
}

.innerSiderBarDiv {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}

.circle {
    width: 40px;
    height: 40px;
    color: #6EEB83;
    cursor: pointer;
}

.uptrend {
    width: 40px;
    height: 40px;
    color: #6EEB83;
}

.search {
    width: 40px;
    height: 40px;
    color: #6EEB83;
}

.dev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

/* tablet */

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 1024px) {
    .sidebar_container {
      width: 95px;
      background-color: red;
    }
  
    .sidebar {
      flex-direction: row; /* Change to column layout */
    }
  
}