.topbar {
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background-color: #6EEB83;
}

.main_div {
    display: flex;
    justify-content: center;
}

h2 {
    color: #6EEB83;
    font-family: DM Serif Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog_title {
    font-size: 30px;
}

.heroDiv {
    background-color: rgb(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: auto;
    height: 30em;
    padding: 50px;
    display: flex;
    gap: 20px;
}

.slide_bar{
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.all_blog_posts_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr; /* Three columns with the third column three times the width of the others */
    grid-template-rows: auto; /* Auto-size rows */
    grid-gap: 80px; /* Gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
}

.all_blogs_main_container{
    background-color: rgb(0, 0, 0, 0.2);
    padding: 50px;
}

.all_blog_title{
    font-size: 22px;
}

.all_blog_container {
    width: 20em;
}

.all_blogs_image{
    width: 100%;
    height: 13em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.slide_bar_container{
    display: flex;
    gap: 10px
}

.thumb_content{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.truncColor{
    color: rgba(255, 255, 255, 0.7);
}

.blog_content{
}

.heroBlogPost {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_thumbnail {
    height: 20em;
    width: 50em;
    margin-right: 4em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.hero_sliding_image {
    width: 70%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.blog_thumbnail2 {
    height: 20em;
    width: 50em;
    margin-left: 4em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
.p1 {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.p2 {
    color: #6EEB83;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    cursor: pointer;
}

.p3, .p32 {
    color: #FFF;
    text-align: right;
    font-family: Lexend Deca;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 73px;
    height: 74px;
    flex-shrink: 0;
    margin-bottom: 80px;
}

.p32 {
    text-align: left;
    margin-left: 2em;
}

.tag {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transform: rotate(-90deg);
}


.blog_post_content, .blog_post_content2 {
    display: flex;
    width: 50em;
    padding: 0;
    text-align: left;
}

.blog_post_content2 {
    text-align: right;
    justify-content: right;
}



.main_blog_container {
    display: flex;
    align-items: start;
    margin-top: 3em;
    margin-bottom: 3em;
}

.blog_div {
    width: 80%;
    padding: 10px;
}

.data_username {
    justify-content: right;
}

.tag_content {
    color: #6EEB83;
    font-family: Lexend Deca;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 116px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid #6EEB83;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hashtag {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
}

.title {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.title_container {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* tablet */

@media (max-width: 1024px) {
    
}